input{
    border : 1px solid #c52b2b;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 6px;
    font-size: 15px;
}

button{
    border-radius: 10px;
    border : 1px solid #c52b2b;
    padding: 6px;
    font-size: 15px;
    font-weight: bold;
    color: #c52b2b;
}
.overlay{
    display: flex;
    flex-direction: column;
}